{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Document</title>
</head>
<body>
    <h3><a href="http://127.0.0.1:8000/summary/"><<--вернуться на главную</a></h3>
    <P><b>Образование высшее, Гргу имени Я.Купалы по специальности программное обеспечение информационных технологий</b></P>
</body>
</html>