
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Document</title>
</head>
<body>
    <h1>Денис Вербицкий</h1>
    <div class="mainPage">
    <p><b>23 года, родился в городе Гродно, Работаю в такси.</b></p>
    </div>
    <li><a href="https://www.instagram.com/denis.verbitski/">Instagram</a></li>
    <li><a href="https://vk.com/denisverbitski">VK</a></li>
    <div class="buttons">
        <button><a href="http://127.0.0.1:8000/summary/education">образование</a></button>
        <button><a href="http://127.0.0.1:8000/summary/skills">навыки</a></button>
        <button><a href="mailto:denis.verbitski20@gmail.ru?subject=Тема%20письма &amp;body=Напиши%20мне%20сюда">Написать сообщение</a></button>
    </div>
</body>
</html>