{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Document</title>
</head>
<body>
    <h3><a href="http://127.0.0.1:8000/summary/"><<--вернуться на главную</a></h3>
    <div>
        <table width="275" border="1" style="float: left;">
            <caption><b>Hard Skills</b></caption>
       <tr>
        <th>Навык</th>
        <th>Оценка</th>
       </tr>
       <tr>
        <td>Django</td>
        <td>2 Балла</td>
      </tr>
            <tr>
        <td>Linux</td>
        <td>2 Балла</td>
      </tr>
            <tr>
        <td>Git</td>
        <td>3 Балла</td>
      </tr>
            <tr>
        <td>Flask</td>
        <td>2 Балла</td>
      </tr>
            <tr>
        <td>SQLlite3</td>
        <td>3 Балла</td>
      </tr>
    </div>
    <div>
    <table width="275" border="1">
    <caption><b>Soft Skills</b></caption>
       <tr>
        <th>Навык</th>
        <th>Оценка</th>
       </tr>
       <tr>
        <td>Adaptability</td>
        <td>3 Балла</td>
      </tr>
            <tr>
        <td>Communication</td>
        <td>4 Балла</td>
      </tr>
            <tr>
        <td>Leadership</td>
        <td>2 Балла</td>
      </tr>
            <tr>
        <td>Motivation</td>
        <td>4 Балла</td>
      </tr>
            <tr>
        <td>Teamwork</td>
        <td>4 Балла</td>
      </tr>
    </div>
</body>
</html>