{% extends  'game_store/base.html' %}
{% load socialaccount %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<code>
    <h1>Login</h1>
    <br/>

        <form action="" method="POST">
            
            {% csrf_token %}
            
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
            <input type="submit" value="Войти" class="btn btn-outline-success">
            <br/><br/>
            <a href="{% provider_login_url  'github' %}" class="btn btn-outline-warning">GitHub</a>
            <a href="{% provider_login_url  'google'  %}" class="btn btn-outline-warning">Google</a>
        </form>
</code>
{% endblock %}
account_login