{% extends 'game_store/base.html' %}
{% block title %}Games{% endblock %}

{% block content %}
<br>
<div class="container">
    {% for game in games %}
            <img class="rounded" style="width: 500px; height: 500px; object-fit: cover;" src={{game.game_image.url}} alt="Name" />
            <br><br>
            <h5><a href="{% url 'game:game_slug' game_slug=game.slug %}"  class="text-info">{{game.name}}</a></h5>
            <ul>
                <li>Жанр: {{game.category}}</li>
                <li>Цена: {{game.price}} руб</li>
                <li>Дата выхода: {{game.release_date|date:"d F. Y."}}</li>
            </ul>
            <hr>
    {% endfor %}
</div>
{% endblock %}