{% extends 'base.html' %}
{% load static %}
{% block title %}{{category.name}}{% endblock %}
{% block content %}
<code>
{% for game in games %}
    <div class="container text-center my-5">
        <h2 class="fw-light">Жанр: {{category.name}}</h2><br>
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <img class="rounded" style="width: 500px; height: 600px; object-fit: cover;" src={{game.game_image.url}} alt={{game.name}}/>
                <div>
                    <br>
                    <h5><a href="{% url 'game:game_slug' game_slug=game.slug %}">{{game.name}}</a></h5>
                    <br><br>
                    <strong>Цена:</strong>
                    {{game.price}}
                    <strong>руб</strong><br>
                    <strong>Дата выхода:</strong>
                    {{game.release_date|date:"d F, Y."}}<hr>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</code>
{% endblock %}