{% extends  'base.html'%}
{% load static %}
{% block title %}{{game.name}}{% endblock %}

{% block content %}
<code>
    <div class="container text-center my-5">
        <h1 class="fw-light">{{game.name}}</h1><br>
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <img class="rounded" style="width: 500px; height: 600px; object-fit: cover;" src={{game.game_image.url}} alt={{game.name}}/>
                <div>
                    <br>
                    <h5>{{game.name}}</h5><br>
                    <strong>Жанры:</strong>
                    {{game.category.name}}<br>
                    <strong>Цена:</strong>
                    {{game.price}}
                    <strong>руб</strong><br>
                    <strong>Дата выхода:</strong>
                    {{game.release_date|date:"d F, Y."}}<hr>
                </div>
                <br>
                <strong><h5>Описание:</h5></strong>
                <p>{{game.description|safe}}</p>
                <hr>
            </div>
        </div>
    </div>
</code>
{% endblock %}