{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"
</head>
<body>
            <ul>
                <li>
                    <a href="{% url 'game:games' %}">Games</a> 
                </li>
                <li>
                    <a href="{% url 'game:all_categories' %}">Categories</a>
                </li>
                <li>
                    <a  href="{% url 'game:sort_alphab' %}">Sorting A-Z</a>
                </li>
                <li>
                    <a  href="{% url 'game:sort_not_alphab' %}">Sorting Z-A</a>
                </li>
                {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link "href="{% url 'user:logout' %}">Logout</a>
                </li>
                {% else %}

                <li class="nav-item">
                    <a class="nav-link "href="{% url 'user:register_user' %}">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link "href="{% url 'user:login' %}">Login</a>
                </li>
            {% endif %}
            </ul>
            <form class="d-flex" method="post" action="{% url 'game:search-games' %}">
                {% csrf_token %}
                <input class="form-control me-2" type="search" 
                placeholder="Search Games" aria-label="Search" name="searched">
                <button class="btn btn-outline-secondary" type="submit">Search</button>

            </form>
            </div>
        </div>
    </nav>
<div>
    {% if messages %}
    {% for message in messages %}
    {{ message }}
 </div>
    {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>
